<a href="https://colab.research.google.com/github/octane-2002/techno_hacks/blob/main/Employeeprediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,classification_report

In [ ]:
data=pd.read_csv('Employee.csv')

In [ ]:
data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [ ]:
data.tail()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [ ]:
data.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,802.485714,9.192517,2.912925,1.0,1024.865306,2.721769,65.891156,2.729932,2.063946,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,403.509100,8.106864,1.024165,0.0,602.024335,1.093082,20.329428,0.711561,1.106940,...,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,1.0,491.250000,2.000000,48.000000,2.000000,1.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,802.000000,7.000000,3.000000,1.0,1020.500000,3.000000,66.000000,3.000000,2.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1157.000000,14.000000,4.000000,1.0,1555.750000,4.000000,83.750000,3.000000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,5.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [ ]:
data.isnull()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1466,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1467,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1468,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1469,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
data.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [ ]:
data = data.drop(['EmployeeCount', 'EmployeeNumber'], axis=1)
data=data.dropna()

In [ ]:
X = data.drop('Attrition', axis=1)
y = data['Attrition']

In [ ]:
y = y.map({'Yes': 1, 'No': 0})

In [ ]:
categorical_cols = ['BusinessTravel', 'Department', 'EducationField', 'Gender', 'JobRole', 'MaritalStatus', 'Over18', 'OverTime']
X_encoded = pd.get_dummies(X, columns=categorical_cols)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.2, random_state=42)

In [ ]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [ ]:
model=LogisticRegression()
model.fit(X_train_scaled,y_train)

LogisticRegression()

In [ ]:
y_pred=model.predict(X_test_scaled)

In [ ]:
accuracy=accuracy_score(y_test,y_pred)
classification_rep=classification_report(y_test,y_pred)

In [ ]:
print("Accuracy:", accuracy)
print("Classification Report:\n", classification_rep)

Accuracy: 0.8843537414965986
Classification Report:
               precision    recall  f1-score   support

           0       0.92      0.95      0.93       255
           1       0.59      0.44      0.50        39

    accuracy                           0.88       294
   macro avg       0.75      0.69      0.72       294
weighted avg       0.87      0.88      0.88       294

In [ ]:
employee_leaving=data.loc[y_test[y_pred==1].index]
print("Employees predicted to leave:")
print(employee_leaving)

Employees predicted to leave:
      Age Attrition     BusinessTravel  DailyRate              Department  \
665    47        No      Travel_Rarely       1454                   Sales
259    31       Yes  Travel_Frequently        307  Research & Development
1236   36       Yes      Travel_Rarely       1456                   Sales
51     28       Yes      Travel_Rarely       1434  Research & Development
363    33       Yes      Travel_Rarely        350                   Sales
946    40       Yes      Travel_Rarely        299                   Sales
591    33       Yes      Travel_Rarely        118                   Sales
528    50       Yes  Travel_Frequently        562                   Sales
777    21       Yes      Travel_Rarely       1334  Research & Development
192    35       Yes      Travel_Rarely        556  Research & Development
1403   39        No      Travel_Rarely        119                   Sales
1167   35       Yes      Travel_Rarely        763                   Sales
1142   45        No      Travel_Rarely       1015  Research & Development
578    38        No  Travel_Frequently        240  Research & Development
921    28        No  Travel_Frequently        791  Research & Development
915    21       Yes  Travel_Frequently        251  Research & Development
107    25       Yes      Travel_Rarely        240                   Sales
239    32       Yes      Travel_Rarely        515  Research & Development
1422   35        No      Travel_Rarely       1490  Research & Development
841    24        No      Travel_Rarely        477  Research & Development
1168   24        No  Travel_Frequently        567  Research & Development
310    31        No      Travel_Rarely        106         Human Resources
479    24       Yes  Travel_Frequently       1287  Research & Development
1057   29       Yes  Travel_Frequently        115                   Sales
601    40        No  Travel_Frequently        720  Research & Development
824    42        No      Travel_Rarely        188  Research & Development
573    26       Yes      Travel_Rarely       1146                   Sales
1128   36        No  Travel_Frequently       1302  Research & Development
111    34       Yes  Travel_Frequently        658  Research & Development

      DistanceFromHome  Education    EducationField  EnvironmentSatisfaction  \
665                  2          4     Life Sciences                        4
259                 29          2           Medical                        3
1236                13          5         Marketing                        2
51                   5          4  Technical Degree                        3
363                  5          3         Marketing                        4
946                 25          4         Marketing                        4
591                 16          3         Marketing                        1
528                  8          2  Technical Degree                        2
777                 10          3     Life Sciences                        3
192                 23          2     Life Sciences                        2
1403                15          4         Marketing                        2
1167                15          2           Medical                        1
1142                 5          5           Medical                        3
578                  2          4     Life Sciences                        1
921                  1          4           Medical                        4
915                 10          2     Life Sciences                        1
107                  5          3         Marketing                        3
239                  1          3     Life Sciences                        4
1422                11          4           Medical                        4
841                 24          3           Medical                        4
1168                 2          1  Technical Degree                        1
310                  2          3   Human Resources                        1
479                  7          3     Life Sciences                        1
1057                13          3  Technical Degree                        1
601                 16          4           Medical                        1
824                 29          3           Medical                        2
573                  8          3  Technical Degree                        4
1128                 6          4     Life Sciences                        1
111                  7          3     Life Sciences                        1

      Gender  ...  RelationshipSatisfaction  StandardHours  StockOptionLevel  \
665   Female  ...                         1             80                 0
259     Male  ...                         2             80                 0
1236    Male  ...                         2             80                 3
51      Male  ...                         3             80                 0
363   Female  ...                         2             80                 0
946     Male  ...                         3             80                 0
591   Female  ...                         3             80                 0
528     Male  ...                         1             80                 1
777   Female  ...                         1             80                 0
192     Male  ...                         1             80                 0
1403    Male  ...                         1             80                 0
1167    Male  ...                         4             80                 2
1142  Female  ...                         1             80                 0
578   Female  ...                         4             80                 0
921     Male  ...                         3             80                 0
915   Female  ...                         3             80                 0
107     Male  ...                         4             80                 0
239     Male  ...                         4             80                 0
1422    Male  ...                         3             80                 1
841     Male  ...                         4             80                 0
1168  Female  ...                         3             80                 0
310     Male  ...                         4             80                 0
479   Female  ...                         4             80                 1
1057  Female  ...                         1             80                 0
601     Male  ...                         4             80                 0
824     Male  ...                         1             80                 0
573     Male  ...                         3             80                 0
1128    Male  ...                         4             80                 1
111     Male  ...                         4             80                 0

     TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
665                  3                      3               2               3
259                  6                      2               4               5
1236                16                      3               3               2
51                   2                      3               2               2
363                  1                      2               3               1
946                  9                      2               3               5
591                  6                      3               3               3
528                 18                      4               3               4
777                  1                      6               2               1
192                  8                      1               3               1
1403                21                      3               3              20
1167                 7                      2               2               2
1142                10                      3               3              10
578                 17                      2               3              15
921                  5                      2               2               4
915                  2                      2               1               2
107                  6                      1               3               6
239                  4                      2               1               3
1422                 5                      3               3               2
841                  6                      2               3               4
1168                 6                      2               3               6
310                  9                      1               3               2
479                  6                      4               3               6
1057                 7                      4               1               5
601                 10                      6               3               1
824                 16                      3               3               1
573                  6                      2               2               4
1128                 9                      3               3               3
111                  9                      3               3               9

      YearsInCurrentRole  YearsSinceLastPromotion YearsWithCurrManager
665                    2                        1                    2
259                    4                        1                    4
1236                   2                        2                    2
51                     2                        2                    2
363                    0                        0                    0
946                    4                        1                    0
591                    2                        0                    2
528                    3                        1                    3
777                    0                        1                    0
192                    0                        0                    1
1403                   8                       11                   10
1167                   2                        2                    2
1142                   7                        1                    4
578                    7                        4                   12
921                    2                        0                    2
915                    2                        2                    2
107                    4                        0                    3
239                    2                        1                    2
1422                   2                        2                    2
841                    3                        1                    2
1168                   3                        1                    3
310                    2                        1                    0
479                    3                        1                    2
1057                   3                        0                    0
601                    0                        0                    0
824                    0                        0                    0
573                    3                        1                    2
1128                   2                        0                    2
111                    7                        0                    6

[29 rows x 33 columns]

In [ ]:
num_employees_leaving = sum(y_pred == 1)
print("Total Number of Employees Predicted to Leave:", num_employees_leaving)

Total Number of Employees Predicted to Leave: 29